@font-face
{
    font-family: "Draft B";
    src: url('fonte/draft-b-regular.ttf');
    font-weight: normal;
}

@font-face
{
    font-family: "Draft B";
    src: url('fonte/draft-b-medium.ttf');
    font-weight: 500;
}

@font-face
{
    font-family: "Draft B";
    src: url('fonte/draft-b-bold.ttf');
    font-weight: 900;
}

@font-face
{
    font-family: "Draft B";
    src: url('fonte/draft-b-bolder.ttf');
    font-weight: bold;
}