@media only screen and (max-width: 991px) {

    .menu-desktop { display: none; }

    .menu-mobile { display: block; }

    .bg-opacity { top: 96px; }

}

@media only screen and (max-width: 767px) {

    .remover-img-767 { display: none; }

    .borda-left { border: none; }

    .breadcump{ height: 100% }

    .caminho-breadcump { padding-bottom: 25px; }

    .logo-rodape { text-align: center !important; margin-bottom: 15px; }

    .endereco-rodape { text-align: center !important; }

    .rede-social-rodape{ display: flow-root; margin-top: 15px}

    .rede-social-rodape-yt { display: flow-root; margin-top: 10px; margin-bottom: -50px; }

}

@media only screen and (max-width: 430px) {

    .thumb-produto { padding: 15px; }



}